.login-form{
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #CCCCCC;
  padding: 30px 30px 10px 20px;
  box-shadow: 2px 2px 5px #CCCCCC;
}