.main_div {
  .item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 50%;
    h4 {
      margin-bottom: 0px;
      margin-right: 10px;
    }
  }
  .two_item {
    width: 100%;
    display: flex;
    align-items: center;
    h4 {
      margin-bottom: 0px;
      margin-right: 10px;
    }
  }
  .total_line {
    border-bottom: 1px solid black;
    h4 {
      margin: 0;
    }
  }
  .pay_btn {
    height: 130px !important;
    width: 65%;
    margin-top: 0 !important;
    border-radius: 12px !important;
    border: none;
  }
}
